
@media screen and (max-width: 850px) {
    header .menu-desktop, header .btn-contato {
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }

}

@media screen and (max-width: 980px) {

    /* Responsividade do Hero */

    .hero-site .txt-hero h1{
        font-size: 2.6em;
        line-height: 45px;
    }
    
    .hero-site .txt-hero p{
        font-size: 14px;
    }
    
    .hero-site .txt-hero p span{
        display: inline;
    }
    
    .hero-site button{
        font-size: 18px;
    }
    
    /* Responsividade da área "Vantagens" */

    section.vantagens{
        padding: 80px 0;
    }
    
    .vantagens{
        background-color: #e3e3e3;
    }
    
    
    .vantagens .itens-container{
        flex-direction: column;
    }
    
    .vantagens .itens-container .img-itens img{
        width: 100%;
    }
    
    .vantagens .itens-container .txt-itens p{
        margin-bottom: 20px;
    }


    .vantagens .itens-container .txt-itens h3{
        font-size: 3em;
        line-height: 50px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .itens-container .txt-itens h3 span{
        font-weight: 300;
    }

    .vantagens .itens-container .item-1{
        order: 1;
    }

    .vantagens .itens-container .item-2{
        order: 0;
    }

    /* Responsividade da área de "Contatos" */

    .txt-contato, .icons-contato{
        display: block;
        width: 100%;
    }
    
    .contato .txt-contato h3{
        font-size: 2em;
        line-height: 40px;
    }
    
    .contato .txt-contato p{
        margin-bottom: 20px;
        font-size: 1.1em;
    }

    .contato .icons-contato button{
        width: 100%;
    }

/* Responsividade da área "Hotéis" */
     
    .hoteis h3{
        font-size: 2.3em;
        line-height: 40px;
    }
    
    .hoteis p{
        margin: 20px 0;
        font-size: 17px;
        font-weight: 300 ;
    }
    
    .hoteis button{
        width: 220px;
        height: 60px;
    }

    /* Responsividade da área "Como Funciona?" */
    
    .txt-funciona, .instrucoes{
        display: block;
        width: 100%;
    }
    
    .como-funciona .txt-funciona{
        position: static;
    }
    
    .como-funciona .txt-funciona h3{
        font-size: 3.5em;
        line-height: 65px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .instrucoes .instru-box{
        flex-direction: column;
        text-align: center;
    }
}

    
